.CourseHero {
  padding: 30px 0;
}

.CourseHero .ui.header {
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
}

.CourseHero .item {
  background-color: #343461!important;
  border-radius: 4px!important;
  padding: 30px!important;
  margin-bottom: 0!important;
}

.item > .content {
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: flex-start!important;
}

.header,
.meta,
.description,
.divider {
  color: #fff!important;
}

.meta {
  text-align: left!important;
}