.SubjectList {
  margin-top: 15px;
  padding: 15px;
  position: relative;
  background-color: #474787!important;
  border-radius: 4px;
}

.SubjectList .item {
  padding: 15px!important;
}

.SubjectList.empty {
  margin: 0;
  padding: 0;
  display: none;
}

.SubjectList-expand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.SubjectList-expand i {
  line-height: 1;
}

.SubjectList-expand:hover {
  background-color: #343461!important;
}