.item .header {
  display: flex!important;
  align-items: center!important;
  justify-content: space-between!important;
  width: 100%!important;
}

.item .ui.inverted.button.Subject-button {
  box-shadow: none!important;
}